body{
    background-color: #ECF5FE;
}

.text_plain{
    font: normal normal bold 16px Hancom Gothic;
    color: #8B8B8B;
}

.text_plain2{
    font: normal normal bold 20px Hancom Gothic;
    color: #8B8B8B;
}

/* 메뉴 바 */
.menu_div{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0; 

    background-color: rgba(250, 250, 250, 0.8);
    padding: 15; /* 메뉴 바 위아래 크기 */

    text-align: center;
    padding-right: 10; 
    padding-left: 10; 
}

.menu_logo_N_text{
    font-size: 16px; 
    display: inline;
}

.menu_logo{
    width: 35;
    vertical-align: middle;
}

.menu_text{
    font-size: 16px; 
    text-decoration: none;
    padding-right: 25;
}

/* 제목 */
.title_image{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 175px; /*제목 위쪽 간격*/
}

/* 구름 */
.main_cloud1{
    width: 150;
    position:absolute;
    top: 30%;
    left: 20%;
}
.main_cloud2{
    width: 400;
    position:absolute;
    top: 60%;
    left: 10%;
}
.main_cloud3{
    width: 500;
    position:absolute;
    top: 50%;
    right: 10%;
}

/* 정보 */
.info_title{
    font-size: 24px; 
    text-align: center;
    margin-top: 420px; /* 정보 간격 */
    margin-bottom: 15px;
}

.info_rectangle{
    font-size: 13px;
    width: 650px; 
    height: 202px;
    margin:auto;

    background: #FFFFFF;
    border: 3px solid #6E85B6;
    border-radius: 20px;
    
    padding-left: 40px;
    padding-top: 35px;
}

.button{
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 8px 15px 8px;
    display: block;
    margin:auto;
    text-align: center;

    width: 150;

    display: block;
    margin:auto;
    text-align: center;

    background: #6E85B6;
    border-radius: 100px;
}

/* output 상자 */

#AIOutput{
    font-size: 13px;
    width: 600px; 
    height: 130px;
    margin:auto;
    display: block;
    text-align: center;

    background: #ffffff;
    border: 3px solid #6E85B6;
    border-radius: 100px;
    
    padding-top: 5%;
    padding-left: 50px;

    padding-right: 50px;
}

/* input 상자 */
#UserInputBox{
    font-size: 13px;
    width: 500px; 
    height: 160px;
    margin:auto;

    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center; 

    background: #FFFFFF;
    border: 3px solid #6E85B6;
    border-radius: 30px;
    
    padding: 60px 60px;
    padding-top: 10px;
    padding-bottom: 10px;


}

#UserInput{
    font-size: 13px;

    margin:auto;

    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center; 

    background: #FFFFFF;
    border: white;
    overflow:visible;
    overflow-y: scroll;


}


.text_plain2::-webkit-scrollbar {
    display: none;
  }

form textarea:focus{
    outline: none;
}
form textarea{
    resize: none;
}

textarea::placeholder {
    color: #cecece;  
    font-style: italic; 
    font-weight: normal;
}ㅐㅕ

#send_button{
    position: relative; /* 절대 위치 설정 */
    bottom: 10px;
    right: 10px;
  }


/* 캐릭터 */
.character{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#left_info{
    background-color: #ECF5FE;
    width:32%;
    padding-top: 30;
    padding-left: 15%;
    padding-right: 5%;
    padding-bottom: 20;
    float: left;
}

#right_info{

    width:30%;
    padding-right: 10%;
    float: right;
}

.map{
    width: 80%;
}

.Yinfo-main-title{
    font: normal normal bold 20px Hancom Gothic;
    font-weight: bold;
    color: #8B8B8B;
    margin-bottom: 10px;
}

.Yinfo-title{
    font: normal normal bold 13px Hancom Gothic;
    font-weight: bold;
    color: #8B8B8B;
    margin-bottom: 5px;
}

.Yinfo-text{
    font: normal normal bold 12px Hancom Gothic;
    font-weight: normal;
    color: #8B8B8B;
    margin-top: 0px;
    margin-bottom: 25px;
}

.button2{
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 8px 15px 8px;
    display: block;
    float: right;
    margin-right: 7%;
    margin-top: 5;
    margin-bottom: 10;
    
    text-align: center;

    width: 150;

    background: #6E85B6;
    border-radius: 100px;
}

.space{
    margin-bottom: 100px;


}

