<html>
    <head>
        <title>독수리 둥지</title>
        <link href="../static/menu.css" rel="stylesheet" />
    </head>

    <body>
        <!-- 메뉴 -->
        <div class="menu_div">
            <div class="menu_logo_N_text text_plain">
                <img class="menu_logo" src="../static/bird.png"> 
                <a href="{{ url_for('index') }}" class="menu_text text_plain">독수리 둥지</a>
            </div>
            <a  href="{{ url_for('ai_friend') }}" class="menu_text text_plain">독수리 친구</a>
            <a href="{{ url_for('yonsei_page') }}" class="menu_text text_plain">연세대 심리상담센터</a>
            <a  href="{{ url_for('user_page') }}" class="menu_text text_plain">User</a>
        </div>

        <!-- 제목, 구름 -->
        <img class="title_image" src="../static/title.png" width="350">
        <img class="main_cloud1" src="../static/cloud1.png">
        <img class="main_cloud2" src="../static/cloud2.png">
        <img class="main_cloud3" src="../static/cloud3.png">

        <!-- 정보 -->
        <p class="info_title text_plain">독수리 친구가 하는 연세 심리상담</p>

        <div class="info_rectangle text_plain">
            <p>AI가 하는 심리상담으로 부담 없이 상담받으실 수 있습니다. </p>
            <p>익명성을 보장하며 AI와의 대화 내용은 본인만 열람할 수 있습니다. </p>
            <p>언제 어디서든 필요할 때 AI 친구에게 고민을 알려주세요. </p>
            <p>힘들 때 언제든 연락할 수 있는 친구, </p>
            <p>당신을 위한 AI 친구와 한 번 대화해보시겠어요? </p>
        </div>

        <a class="button" style="margin-top: 20;" onclick="AI__friend_page()">지금 시작하기</a>
        <p style="margin-bottom: 170px;"></p>

        
        <script>
            
            function yonsei_page() {
                location.href = '3.yonsei.html';
            }
            function user_page() {
                location.href = 'login.html';
            }
        </script>
    </body>

</html>