<html>
    <head>
        <title>독수리 친구</title>
        <link href="../static/menu.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.5.2/core.css">
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
        <!-- 메뉴 -->
        <div class="menu_div">
            <div class="menu_logo_N_text text_plain">
                <img class="menu_logo" src="../static/bird.png"> 
                <a onclick="main_page()" class="menu_text text_plain">독수리 둥지</a>
            </div>
            <a onclick="AI__friend_page()" class="menu_text text_plain">독수리 친구</a>
            <a onclick="yonsei_page()" class="menu_text text_plain">연세대 심리상담센터</a>
            <a class="menu_text text_plain">User</a>
        </div>
        
    <!-- -----메인 화면 구성----- -->
        <!-- output -->
        <form name="user_input" method="get">
            <textarea id="AIOutput" class="text_plain" rows="5" cols="100" readonly></textarea>
        </form>

        <!-- 이미지 -->
        <img class="character" src="../static/bird.png" width="230">

        <!-- input -->
        <div>
            <form id="UserInputBox" name="user_input" method="post">
                <textarea id="UserInput" class="text_plain" rows="5" cols="100" placeholder="하고 싶었지만 할 수 없었던 나만의 이야기는?"></textarea>
                <button type="button" id="sendData">
                    <img class="send_button" src="../static/send_button.png" alt="Send" width="40">
                </button>
            </form>
        </div>

        <py-env>
            - ./scripts/chatGPT.py
            - openai
            - python-dotenv
        </py-env>

        <py-script>
            from chatGPT import AI
            from js import document

            def sendInput(event):
                user_input = document.getElementById("UserInput").value
                ai = AI(user_input)
                document.getElementById("AIOutput").value = str(ai)

            document.getElementById("sendData").addEventListener("click", sendInput)
        </py-script>

    </body>
</html>