<html>
    <head>
        <title>연세대 심리상담센터</title>
        <link href="../static/menu.css" rel="stylesheet" />

        <style>
            body{
                background-color: #FFFFFF;
            }
            
        </style>

        
    </head>

    <body>
        <!-- 메뉴 -->
        <div class="menu_div">
            <div class="menu_logo_N_text text_plain">
                <img class="menu_logo" src="../static/bird.png"> 
                <a onclick="main_page()" class="menu_text text_plain">독수리 둥지</a>
            </div>
            <a onclick="AI__friend_page()" class="menu_text text_plain">독수리 친구</a>
            <a onclick="yonsei_page()" class="menu_text text_plain">연세대 심리상담센터</a>
            <a class="menu_text text_plain">User</a>
        </div>

        <br>

        <div id="left_info" style="margin-top: 40">
            <p class="Yinfo-main-title">연세대 심리상담센터</p>
            <p class="Yinfo-text" style="margin-bottom: 30px;">연세대에는 도움이 필요하면 이용할 수 있는 심리상담센터가 있습니다.</p>
            

            <p class="Yinfo-title">심리상담센터는...</p>
            <p class="Yinfo-text">상담 전문가와의 심리검사 및 상담을 통해 학생들이 대학생활에서 경험하는 심리적 어려움, <br>
                적응 및 진로 선택의 어려움을 잘 해결하도록 도우며, <br>
                다양한 프로그램을 시행하여 자기 이해와 자아 개발을 돕는 곳입니다. <br>
                캠퍼스와 학년에 따라 적절한 맞춤형 서비스를 제공합니다.</p>

            <p class="Yinfo-title">국제 캠퍼스</p>
            <p class="Yinfo-text">기본적인 심리검사와 상담 + 신입생에게 특화된 자기 이해 및 진로 탐색 워크숍 실시, <br>
                대학생활과 기숙사 적응을 돕는 심리지원 프로그램 지원</p>
            
            <p class="Yinfo-title">신촌 캠퍼스</p>
            <p class="Yinfo-text">기본적인 심리검사와 상담 + 2학년 이상 학부생 및 대학원생에게 필요한 다양한 주제의 <br>
                정신건강 지원 프로그램(심리교육 및 워크숍, 사이코드라마 등)을 학생의 요구에 맞춰 시행</p>


            <p class="Yinfo-title">장애학생지원센터</p>
            <p class="Yinfo-text">장애 학생의 적응 및 심리적 어려움 발생 시 심리 상담 서비스 연계 지원</p>

            <p class="Yinfo-title">성평등센터</p>
            <p class="Yinfo-text" style="margin-bottom: 15;">성인지감수성 향상 및 교내 성고충 사건과 관련하여 필요시 심리 상담 서비스 연계 지원</p>

            <a class="button2" href="https://counsel.yonsei.ac.kr/ysclinic/index.do">사이트 바로가기 > </a>

        </div>
            
        <div id="right_info" style="margin-top: 60">
            <p class="Yinfo-title">신촌캠퍼스</p>
            <p class="Yinfo-text" style="margin-bottom: 10;">(신촌)연세대학교 백양관 북측동 408호</p>
            <img class="map" src="../static/map_Shinchon.png" style="margin-bottom: 5%;"> 

            <p class="Yinfo-title">국제캠퍼스</p>
            <p class="Yinfo-text" style="margin-bottom: 10;">(국제) 연세대학교 국제캠퍼스 송도2학사 반피득홀</p>
            <img class="map" src="../static/map_Songdo.png"> 


        </div>
        
        <br style="margin: 100px;">


        <script>
            function main_page() {
                location.href = '1.main.html';
            }
            function AI__friend_page() {
                location.href = '2.AI_friend.html';
            }
            function yonsei_page() {
                location.href = '3.yonsei.html';
            }
        </script>
    </body>

</html>